<div class="form-inputs">	
	<%= u.input :first_name %>
</div>
<div class="form-inputs">
	<%= u.input :last_name %>
</div>
<div class="form-inputs">
	<%= u.input :gender%>
</div>
<div class="form-inputs">
	<%= u.input :age%>
</div>
<div class="form-inputs">
	<%= u.input :mobile_number%>
</div>
<div class="form-inputs">
	<%= u.input :country%>
</div>
<div class="form-inputs">
	<%= u.input :state%>
</div>
<div class="form-inputs">
	<%= u.input :city%>
</div>
<div class="form-inputs">
	<%= u.input :zip%>
</div>
<div class="form-inputs">
	<%= u.input :image%>
</div>
<div class="form-inputs">
	<%= u.input :email%>
</div>