:ruby
  switch_params = calendar_current_params
  switch_params[:calendar][:scope] = case @calendar[:scope]
    when CalendarizeHelper::Scopes::DAILY then CalendarizeHelper::Scopes::WEEKLY
    when CalendarizeHelper::Scopes::WEEKLY then CalendarizeHelper::Scopes::MONTHLY
    when CalendarizeHelper::Scopes::MONTHLY then CalendarizeHelper::Scopes::DAILY
  end

= link_to switch_params[:calendar][:scope], request.path + '?' + switch_params.to_query

%br

- if @calendar[:scope] == CalendarizeHelper::Scopes::DAILY
  = daily_calendar @calendar[:date], Event.for_day(@calendar[:date]), verbose: @calendar[:verbose] do |c|
    = l(c.event.start_time, format: :short)
    = ' - '
    = l(c.event.end_time, format: :short)
    = ' : '
    = c.event.title


- elsif @calendar[:scope] == CalendarizeHelper::Scopes::WEEKLY
  = weekly_calendar @calendar[:date], Event.for_week(@calendar[:date]), verbose: @calendar[:verbose] do |c|
    = l(c.event.start_time, format: :short)
    = ' - '
    = l(c.event.end_time, format: :short)
    = ' : '
    = c.event.title

- elsif @calendar[:scope] == CalendarizeHelper::Scopes::MONTHLY
  = monthly_calendar @calendar[:date], Event.for_month(@calendar[:date]), verbose: @calendar[:verbose] do |c|
    = l(c.event.start_time, format: :short)
    = ' - '
    = l(c.event.end_time, format: :short)
    = ' : '
    = c.event.title