<div class="well">
<h1>Listing workers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Alias</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @client_workers.each do |worker| %>
      <tr id= "tr_<%= worker.id %>">
        <td><%= worker.alias %></td>
        <td><%= link_to 'Show', worker, :remote =>  true %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker), :remote =>  true %></td>
        <td><%= link_to 'Destroy', worker, :remote =>  true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
	<% @team_leaders.each do |tl|%>
	 <% tl.workers.each do |worker|%>
	<tr id= "tr_<%= worker.id %>">
	<td><%= worker.alias %></td>
	<td><%= link_to 'Show', worker, :remote =>  true %></td>
    <td><%= link_to 'Edit', edit_worker_path(worker), :remote =>  true %></td>
    <td><%= link_to 'Destroy', worker, :remote =>  true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	 <%end%>
	<%end%>
  </tbody>
</table>
</div>
<br>
<div class="well">
  <%= link_to 'New Worker', new_worker_path, :remote =>  true %>
</div>  
